* {
  margin: 0;
  padding: 0;
}

html,body{
	width:100%;
  height: 100%;
  color: #233285;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

.top-slide-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0B318F;
  z-index: 1000;
}

.top-slide-inner{
  position: relative;
  width: 100%;
  height: 100%;
}

.top-slide-logo{
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}


.wrapper {
  position: relative;
  width:100%;
  height: 100%;
}

.top-logo{
  opacity: 0;
  margin-left: 25px;
  margin-top: 70px;
}

.top-logo img{
  width: 200px;
}


.address{
  opacity: 0;
  font-size: 12pt;
  writing-mode: vertical-rl;
  position: fixed;
  margin-top: 70px;
  margin-right: -60px;
}

.sns{
  opacity: 0;
  font-size: 12pt;
  writing-mode: vertical-rl;
  position: fixed;
  margin-top: 400px;
  margin-right: -60px;
}

/*.navbar {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.navbar-logo{
  text-align: right;
  margin-right: 30px;
  margin-top: 30px;
}

.navbar-logo img{
  max-width: 70px;
  height: auto;
}

.navbar-menu{
  list-style: none;
  writing-mode: vertical-rl;
  margin-left: auto;
  margin-right: 17px;
  margin-top: 10px;
  padding-top: 0;
}

.navbar-menu li {
  font-size: 80%;
  font-weight: bold;
  margin-right: 10px;
}

.navbar-menu li a {
  color: #000;
}

.navbar-menu li a:hover {
  color: #0B318F;
}*/

.container {
  opacity: 0;
  width: 90%;
  height: 100%;
  margin-top: 50px;
  margin-left: 15px;
}

.grid{
  width: 100%;
  margin: 0;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 200px;
  margin: 10px;
  float: left;
  border: 1px solid #e2e2e2;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 6px;
}

.grid-item img{
  max-width: 100%;
  outline: none;
  border: none;
  display: block;
  border-radius: 5px;
}


@media screen and (max-width:480px) {

  .top-slide-logo{
    width: 200px;
    height: 200px;
  }

  .container{
    margin-top: 40px;
  }

  .grid-item{
    width: 35%;
  }

  .address{
    font-size: 10pt;
    width: 10%;
    margin-top: 150px;
    margin-right: -70px;
  }

  .sns{
    font-size: 10pt;
    margin-top: 430px;
    margin-right: -70px;
    width: 10%;
  }

  .top-logo img{
    width: 150px;
  }
}





